@font-face{
    font-family: airbnb;
    src: url("../fonts/AirbnbCerealBold.ttf");
}
body{
    font-family: airbnb;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
} 

.slide{
    position: relative;
    z-index: 1;
}

.nav{
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0px;
    left: 4px;
    background-color: white;
    opacity: .9;
    overflow-x: hidden;
    transition: 0.7;
    z-index: 1;
    position: relative;
}

.nav a{
    position: relative;
    z-index: 1;
    display: block;
}

.nav img{
    position: relative;
    z-index: 1;
    margin-left: 80px;
    margin-top: 10px;
    height: 110px;
    width: 110px;
    border-radius: 150px;
}

.nav i{
    position: relative;
    margin-top: 130px;
    margin-left: -105px;
    font-size: 20px;
    font-family: fantasy;
    z-index: 1;
}

.item{
    margin-top: 50px;
    padding:10px;
    z-index: 1;
    position: relative;
}

.carousel{
    top: -500px;
}