.login-page{
    display: flex;
    width: 100%;
}

.login-image{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 55%;
} 

.form{
    height: 100vh;
    width: 45%
}
@font-face{
    font-family: "airbnb";
    src: url(../fonts/AirbnbCerealBold.ttf);
}
@font-face{
    font-family: "airbnbmedium";
    src: url(../fonts/AirbnbCerealMedium.ttf);
}

.text{
    color: white;
    position: absolute;
    width: 808px;
    height: 318px;
    left: 56px;
    top: 88px;
    font-family: airbnb;
    font-size: 64px;
    line-height: 83px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.ket{
    color: white;
    font-family: airbnb;
    position: absolute;
    left: 29px;
    top: 600px;
}

.book{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1270px;
    top: 12px;

}

.login{
    position: absolute;
    width: 354px;
    height: 138px;
    left: 800px;
    top: 90px;
    font-size: 64px;
    line-height: 83px;
    font-family: airbnb;
    color: #424242;
}

.back{
    color: #424242;
    position: absolute;
    width: 400px;
    left: 800px;
    height: 150px;
    top: 170px;
    font-family: airbnb;

}

.by{
   font-family: airbnb;
   color: #D0CCCC;
   stroke: solid;
   position: absolute;
   left: 800px;
   top: 580px;
}

.terms{
    position: absolute;
    color: black;
    left: 800px;
    top: 600px;
    font-family: airbnb;
}

.dan{
    position: absolute;
    stroke: solid;
    color: #D0CCCC;

}

.privacy{
    position: absolute;
    color: black;
    left: 968px;
    top: 600px;
    font-family: airbnb;
}

.pass{
    position: absolute;
    width: 354px;
    height: 138px;
    left: 800px;
    top: 210px;
}

.email{
    width: 417px;
    height: 60px;
    padding-top: 19px;
    padding-left: 19px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.password{
    width: 417px;
    height: 60px;
    padding-top: 19px;
    padding-left: 19px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

}

.label-email{
    position: absolute;
    font-family: airbnb;
    color: #D0CCCC;
    left: 19px;
    margin-top: 30px;

}

.label-password{
    position: absolute;
    font-family: airbnb;
    color: #D0CCCC;
    left: 19px;
    margin-top: -55px;
}

.full-name{
    position: absolute;
    width: 417px;
    height: 60px;
    padding-top: 19px;
    padding-left: 19px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-top: -24px;
}

.name{
    position: absolute;
    z-index: 1;
    font-family: airbnb;
    color: #D0CCCC;
    left: 19px;
    margin-top: -20px;
}

.sandi{
    position: absolute;
    width: 417px;
    height: 60px;
    padding-top: 19px;
    padding-left: 19px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-top: 36px;
}

.sandi1{
    position: absolute;
    z-index: 1;
    font-family: airbnb;
    color: #D0CCCC;
    left: 19px;
    margin-top: 40px;
}

.btn-sign{
    position: absolute;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border: none;
    font-family: airbnbmedium;
    left: 0px;
    margin-top: 130px;

}

.btn-login{
    position: absolute;
    width: 110px;
    height: 36px;
    border-radius: 5px;
    color: #D0CCCC;
    border: 1px solid #D0CCCC;
    background-color: transparent;
    font-family: airbnbmedium;
    left: 130px;
    margin-top: 130px;

}